.account_inputs {
    margin-left: 1em;
}

.account_buttons {
    margin: auto;
    width: 50%;
}

.account_form {
    margin: auto;
    width: 50%;
    margin-top: 1em;
}

.form_button {
    margin-top: 1em;
    margin-bottom: 1em;
}

.submission_buttons {
    margin: auto;
    width: 20%;
}

.range-center {
    margin-left: 25%;
}

#site-description {
    margin-top: 1em;
}

.card {
    margin-right: 1em;
    margin-top: 1em;
}

.color-primary {
    color: #1769aa;
}