.account_inputs {
    margin-left: 1em;
}

.account_buttons {
    margin: auto;
    width: 50%;
}

.account_form {
    margin: auto;
    width: 50%;
    margin-top: 1em;
}

.form_button {
    margin-top: 1em;
    margin-bottom: 1em;
}

.card {
    margin-right: 1em;
    margin-top: 1em;
}

.color-primary {
    color: #1769aa;
}